@model Kapow.Models.Profile

<h1>Profile</h1>
<div style="display: flex;">
    <div style="flex: 1;">
        <p>Username: @Model.UserName</p>
        <p>First Name: @Model.FirstName</p>
        <p>Hometown: @Model.HomeBase</p>
        <p>restaurant1: @Model.Restaurant1</p>
        <p>restaurant2: @Model.Restaurant2</p>
        <p>restaurant3: @Model.Restaurant3</p>
    </div>
    <div style="flex: 1;">
    <img src="@Model.ImageUrl" width="170" height="170"/>
    </div>
</div>
<a asp-controller="Restaurant" asp-action="AddProfile" asp-route-id = "@Model.Id">Add restaurant to list!</a>