@model Kapow.Models.Profile

<h1>Profile</h1>
<br />
<br/>
<div style="display: flex;">
    <div style="flex: 1;">
        <p><b>Username</b>: @Model.UserName</p>
        <p><b>First Name</b>: @Model.FirstName</p>
        <p><b>Hometown</b>: @Model.HomeBase</p>
        <table class="table">
            <tr>
                <th>Restaurant List</th>
            </tr>
            <tr>
                <td> @Model.Restaurant1</td>
            </tr>
            <tr>
                <td> @Model.Restaurant2</td>
            </tr>
            <tr>
                <td> @Model.Restaurant3</td>
            </tr>
            <tr>
                <td> @Model.Restaurant4</td>
            </tr>
            <tr>
                <td> @Model.Restaurant5</td>
            </tr>
        </table>
    </div>
    <div style="flex: 1;">
        <img src="@Model.ImageUrl" width="170" height="170" />
    </div>
</div>
<a asp-controller="Restaurant" asp-action="Search" asp-route-id="@Model.Id">Edit Restaurant List</a>


