@model List<Kapow.Models.Profile>

    <h1>Choose Your Date, Mate</h1>
    <br/>
    <br/>
    <form action="Match" method="post">
        <table class="table">
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
            </tr>
            @foreach (Profile profile in Model)
            {
                <tr>
                    <td><img src="@profile.ImageUrl" width="170" height="100" /></td>
                    <td><a asp-controller="Profile" asp-action="About" asp-route-id="@profile.Id">@profile.UserName</a></td>
                    <td>
                        <input type="radio" id="profile1" name="profileId1" value="@profile.Id">
                        <label for="profile1">Choose Profile</label><br>
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />

        <table class="table">
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
            </tr>
            @foreach (Profile profile in Model)
            {
                <tr>
                    <td><img src="@profile.ImageUrl" width="170" height="100" /></td>
                    <td><a asp-controller="Profile" asp-action="About" asp-route-id="@profile.Id">@profile.UserName</a></td>
                    <td>
                        <input type="radio" id="profile2" name="profileId2" value="@profile.Id">
                        <label for="profile2">Choose Profile</label><br>
                    </td>
                </tr>
            }
        </table>
        <br />
        <input type="submit" value="Find a Match!" />
    </form>
