@using Kapow.Models;
@model List<Kapow.Models.Profile>
@{
    bool isFirstOption = true;
}
<form action="Match" method="post">
    <table class="table">
        <tr>
            <th>Profile Picture</th>
            <th>Username</th>
        </tr>
        @foreach (Profile profile in Model)
        {
            <tr>
                <td><img src="@profile.ImageUrl" width="170" height="100" /></td>
                <td><a asp-controller="Profile" asp-action="About" asp-route-id="@profile.Id">@profile.UserName</a></td>
                <td>
                    <label>
                        <input type="radio" name="profileId1" value="@profile.Id" @(isFirstOption ? "checked" : "")>
                        Match with them!
                    </label>
                    @if (isFirstOption)
                    {
                        isFirstOption = false;
                    }
                    <br>
                </td>
            </tr>
        }
    </table>
    <br />
    <br />
    @{
        bool isFirstOption1 = true;
    }
    <table class="table">
        <tr>
            <th>Profile Picture</th>
            <th>Username</th>
        </tr>
        @foreach (Profile profile in Model)
        {
            <tr>
                <td><img src="@profile.ImageUrl" width="170" height="100" /></td>
                <td><a asp-controller="Profile" asp-action="About" asp-route-id="@profile.Id">@profile.UserName</a></td>
                <td>
                    <input type="radio" name="profileId2" value="@profile.Id" @(isFirstOption1 ? "checked" : "")>
                    <label for="profile_@profile.Id">Match with them!</label>
                    @if (isFirstOption1)
                    {
                        isFirstOption1 = false;
                    }
                    <br>
                </td>
            </tr>
        }
    </table>
    <br />
    <input type="submit" value="Match Restaurant!" />
    </form>
